@font-face {
    font-family: "Roboto";
    src: url('../fonts/R1.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/R2.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/R3.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/R4.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/R5.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/R6.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/R1I.ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/R2I.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/R3I.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/R4I.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/R5I.ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/R6I.ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/CR1I.ttf');
    font-weight: 300;
    font-style: oblique;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/CR2I.ttf');
    font-weight: 400;
    font-style: oblique;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/CR3I.ttf');
    font-weight: 700;
    font-style: oblique;
}