@import "bootstrap";
@import "font-awesome";

@mixin vendorize($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

#res-menus {
    * {
        margin: 0;
        padding: 0;
    }
    #checkout {
        position: absolute;
        bottom: 5%;
        right: 13%;
        z-index: 8;
        background-color: $berkley-green;
        color: white;
        padding: 10px;
        border-radius: 5%;
        &:hover {
            color: $berkley-gold;
            cursor: pointer;
        }
        button {
            background-color: transparent;
            &:hover {
                color: $berkley-gold;
            }
        }
    }
    // Background images
    #hoagie-haven {
        background-image: url('https://s3.amazonaws.com/cafeteria-menu-app/hoagie-haven.jpg');
        background-size: cover;
    }
    #bones {
        background-image: url('https://s3.amazonaws.com/cafeteria-menu-app/bones.jpg');
        background-size: cover;
    }
    #tipsy-parson {
        background-image: url('https://s3.amazonaws.com/cafeteria-menu-app/tipsy-parson.jpg');
        background-size: cover;
    }
    #blue-barn {
        background-image: url('https://s3.amazonaws.com/cafeteria-menu-app/blue-barn.jpg');
        background-size: cover;
    }
    $menu-height: 80vh;
    $text-offset: 15px;
    $active-width: 70%;
    $inactive-width: 10%;
    #menus-wrapper {
        position: absolute;
        display: block;
        width: 100%;
        #menus-title {
            width: 80% !important;
            margin: 0em auto 0.5em auto;
            color: $berkley-blue;
        }
        .alert {
            padding: 1em;
            font-weight: bold;
            @include vendorize('transition', all 500ms ease);
        }
        ul {
            width: 80% !important;
            overflow: hidden;
            display: table;
            table-layout: fixed;
            margin: 0em auto 0.5em auto;
            li {
                .fa-times-circle-o {
                    position: absolute !important;
                    max-width: 5%;
                    text-align: right;
                    top: 15px;
                    right: 15px;
                    color: $berkley-blue;
                    z-index: 7;
                    &:hover {
                        color: lighten($berkley-blue, 12%);
                    }
                }
                display: table-cell;
                vertical-align: middle;
                position: relative;
                width: 25%;
                height: $menu-height;
                background-repeat: no-repeat;
                background-position: center center;
                cursor: pointer;
                @include vendorize('transition', all 500ms ease);
                * {
                    width: 100% !important;
                }
                .res-wrapper {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .res {
                        display: block;
                        padding: 15px;
                        height: $menu-height;
                        position: relative;
                        z-index: 3;
                        vertical-align: middle;
                        box-sizing: border-box;
                        color: $berkley-white;
                        text-decoration: none;
                        @include vendorize('transition', all 200ms ease);
                        .res-header * {
                            padding-bottom: 5px;
                            opacity: 0;
                            position: relative;
                            z-index: 5;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            @include vendorize('transition', all 500ms ease);
                        }
                        .res-header p {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
            &:hover li {
                width: $inactive-width;
            }
            &:hover li:hover {
                width: $active-width;
                .res {
                    background: rgba(0, 0, 0, .7);
                    .res-header * {
                        opacity: 1;
                        @include vendorize('transform', translateX(0px));
                    }
                }
            }
        }
        li.inactive-res-menu {
            width: $inactive-width !important;
            &:hover {
                width: $inactive-width !important;
            }
        }
        li.active-res-menu {
            width: $active-width !important;
            border: 2px solid gray;
            background-image: none !important;
            background-color: $berkley-white !important;
            opacity: 1 !important;
            cursor: default;
            i {
                cursor: pointer;
            }
            &:hover {
                border: 2px solid $berkley-light-gold;
                width: $active-width !important;
            }
            *, * &:hover {
                color: $berkley-blue;
                background-color: $berkley-white !important;
                opacity: 1 !important;
            }
            .res-item {
                display: block;
                width: 100%;
                i {
                    position: absolute !important;
                    color: $berkley-gold;
                    max-width: 35px;
                    vertical-align: top;
                    &:hover {
                        position: absolute !important;
                        color: darken($berkley-gold, 12%);
                        max-width: 35px;
                    }
                }
                .res-item-content {
                    display: inline-block !important;
                    padding: 0px 0px 15px 35px !important;
                }
            }
        }
    }
}

// Stack items
// @media screen and (max-width: 600px) {
//     body {
//         margin: 0;
//     }
//     .accordion {
//         height: auto;
//         ul,
//         ul:hover {
//             li,
//             li:hover {
//                 position: relative;
//                 display: table;
//                 table-layout: fixed;
//                 width: 100%;
//                 -webkit-transition: none;
//                 transition: none;
//             }
//         }
//     }
// }
